@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0px;
    padding: 0px;
    height: max-content;
    overflow-x: hidden;
}
main{
    display: flex;
    max-height: min-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
main a {
    position: relative;
    text-decoration: none;
    color: rgb(0, 141, 134);
}
main a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 129, 123);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
main a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#grid-desafios {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-content: center;
    row-gap: 2vmin;
    column-gap: 5vmin;
    margin-bottom: 5vh;
    width: 100vw;
    height: 100vh; 
    align-items: center;
}
#grid-desafios div {
    font-size: 70%;
    width: 15vmin;
    height: 15vmin;
    transition: ease-in .2s;
    cursor: pointer;
}
#grid-desafios div:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgb(82, 82, 82);
}
#grid-desafios div:empty {
    font-size: 70%;
    width: 15vmin;
    height: 15vmin;
    background-color: rgb(61, 61, 61);
    transition: ease-in .2s;
}
#grid-desafios div:empty:hover{
    transform: scale(1.1);
    background-color: rgb(78, 78, 78);
    box-shadow: 0px 0px 10px rgb(48, 48, 48);
}
#grid-desafios div:empty::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '\003F';
    color: white;
    font-size: 5em;
    animation: interrogation 3s ease 0s infinite normal none;
}

/*---------------MODAL-BOX------------------*/

#modal-box{
    position: fixed;
    min-width: min-content;
    max-height: min-content;
    max-width: 25vw;
    padding: 2%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px black;
}
#span{
    width:0px;
    height:0px;
    border:100px solid;
    border-bottom-color:lightblue;
}
#modal-box hr {
    width: 90%;
    height: 1%;
    margin-inline-start: 0%;
    color: #000000;
}
#modal-box #challenge-name{
    font-weight: bold;
    text-overflow: clip;
    font-size: 1rem;
}
#modal-box #challenge-description{
    font-size: 1rem;
}
.invisible{
    filter: opacity(1);
}
.invisible{
    filter:opacity(0);
}

.does_not_exist{
    animation: shake .2s ease-out;
}
.does_not_exist #challenge-name{
    color: red;
}

/*-------------RESPONSIVIDADE---------------*/

@media(max-width:750px){
    #grid-desafios{
        grid-template-columns: repeat(5, auto);
    }
}
@media(max-width:650px){
    #grid-desafios{
        grid-template-columns: repeat(4, auto);
        margin-bottom: 20vh;
    }
}
@media(max-width:500px){
    main h1{
        font-size: 1.5em;
        margin-inline: auto;
    }
    #grid-desafios{
        grid-template-columns: repeat(3, auto);
        column-gap: 10vw;
        row-gap: 7vmin;
        margin-bottom: 20vh;
    }
    #grid-desafios div {
        width: 20vmin;
        height: 20vmin;
    }
    #grid-desafios div:empty::after {
        font-size: 2em;
    }
}

/*-------------kEYFRAMES---------------*/

@keyframes interrogation {
    0.0%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
}
@keyframes shake {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 7px;
    }
    50% {
        margin-left: 0;
    }
    75% {
        margin-left: -7px;
    }
    100% {
        margin-left: 0;
    }
}